.table {
	table-layout: fixed;
} 

body {
	padding: 5px;
}

.table-active:hover {
	background-color: #b0e0e6;
}

tr {
	height: 100px;
}

strong {
	font-size: 40px;
	font-family: Consolas, Serif, Verdana;
}

th {
	height: 50%;
}